@import "../../styles/variables.scss";

.root {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  max-width: 200px;

  &.alignPictureLeft {
    flex-direction: row-reverse;

    .imageContainer {
      margin-left: 0px;
      margin-right: 10px;
    }
  }

  > p {
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  .imageContainer {
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    height: 35px;
    background-color: $black_80;
    border-radius: 35px;
    margin-left: 10px;
  }
}
