@import "../../styles/variables.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  height: 50px;
  width: auto;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  gap: 10px;

  > img {
    filter: invert(41%) sepia(5%) saturate(56%) hue-rotate(131deg)
      brightness(96%) contrast(88%) !important;
  }

  &:hover,
  &:focus {
    background-color: $black_80;

    p {
      color: $white;
    }

    > img {
      filter: invert(100%) sepia(97%) saturate(2%) hue-rotate(267deg)
        brightness(112%) contrast(101%) !important;
    }
  }

  p {
    color: $black_50;
  }

  &.active {
    p {
      color: $white;
    }

    > img {
      filter: invert(100%) sepia(97%) saturate(2%) hue-rotate(267deg)
        brightness(112%) contrast(101%) !important;
    }
  }
}
